nav.student-nav:hover {
  /* box-shadow: 0 16px 32px rgba(0, 0, 0, 0.5); */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

/* search container */
#search-container {
  position: relative;
  width: 25vw;
  height: auto;
  display: flex;
  align-items: center;
  margin-right: auto;
  margin-left: -1rem !important;
  margin-top: auto;
  margin-bottom: auto;
}

#search-container input[type="text"] {
  width: 80%;
  border: none;
  /* background-color: #f2f2f2; */
  /* background: #bfbfbf; */
  background-color: white;
  font-size: 0.9rem !important;
  padding: 10px 10px 10px 40px; /* Adjust the padding for the text input */
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  text-transform: none;
}

/* code to make the search bar expand upon clicking it */
#search-container input[type="text"]:focus {
  width: 300%;
  transition: width 0.4s ease-in-out;
}

#search-container .search-icon {
  position: absolute;
  left: 10px; /* Adjust the position to the left */
  cursor: pointer;
  display: flex;
  align-items: center; /* Align items vertically in the center */
  color: #044e8b;
}

/* icons */

/* icon wrapper */
.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}

.home-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
}

.home-icon img {
  width: 2rem;
  height: 2rem;
  filter: brightness(100000000%);
}

.positions-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
}

.positions-icon img {
  width: 2rem;
  height: 2rem;
}

.messaging-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
}

.messaging-icon img {
  width: 2rem;
  height: 2rem;
  filter: brightness(100000000%);
  align-self: center;
}

.profile-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
}

.profile-image img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.icon-text {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: black;
  font-size: 0.8rem;
  text-align: center;
  margin-bottom: 0px;
  font-weight: bold;
}

.home-icon:hover img,
.messaging-icon:hover img,
.profile-image:hover img {
  filter: grayscale(10000%);
}
