/* CSS For Parent*/
#parentContainer {
  height: 70vh;
  width: 100vw;
}

/* CSS For Left and Right Sides of Screen */
.left {
  float: left;

  display: flex;
  justify-content: center;
  align-items: center;
}

.right {
  width: 50%;
  float: right;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* ! CSS For Left Side of Screen */
.loginBox {
  width: 30%;
  height: 50%;

  background: #fff;
  color: #000;
  border-radius: 20px;

  top: 40%;
  left: 20%;
  position: absolute;
  transform: translate(-50%, -50%);
  padding-top: 1%;
}

.loginForm h1 {
  color: #044e8b;
  font-size: 1.5rem;
  font-weight: 600;
}

hr {
  color: black;
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 50%;
}

.inputBox {
  width: 95%;
  height: 50%;

  padding-bottom: 2%;
}

.inputBox label {
  color: black;
}

.inputBox input[type="text"],
input[type="password"] {
  background: #d3d3d3;
  border-style: none;

  height: 100%;
  width: 100%;
}

.signButtonContainer {
  margin-right: 2%;

  /* Padding for White Border Around Text */
  padding: 5px 0.7% 5px 1%;

  /* White Border Around Text */
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
  text-align: center;

  /* Text */
  white-space: nowrap;
  font-size: 40px;
  color: #044e8b;
  letter-spacing: 1px;
}

.signButtonContainer:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

/* SVG Path */
#path {
  stroke-dasharray: 1663.7275390625;
  stroke-dashoffset: 1663.7275390625;
  animation: dash 5s infinite ease;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
