/* nav & search bar */

#search-container {
  width: 25vw;
  height: auto;
  flex-direction: row;
  margin-top: auto;
  margin-bottom: auto;
  position: absolute;
  margin-top: auto;
  margin-bottom: auto;
  right: 0; /* Align the search container to the right side of the screen */
  margin-right: 5%;
}


#search-container input[type="text"] {
  width: 90%;
  border: none;
  background-color: #f2f2f2;
  font-size: 0.9rem !important;
  padding: 10px 10px 10px 10px; /* Adjust the padding for the text input */
  border-radius: 5px 0 0 5px;
  font-family: "Montserrat", sans-serif;
  text-transform: none;
}

#search-container button {
  background-color: #f2f2f2;
  color: #044E8B;
  border: none;
  font-size: 1rem;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-image {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-left: -3.5rem; /* Adjust the margin-left value */
  margin-right: 1%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-top: auto;
  margin-bottom: auto;
  position: sticky;
}

.profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

/* dashboard container */
.student-dashboard-container {
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  width: 90%;
  height: auto;
  flex-direction: row;
}

/* greeting */
.greeting-container {
  /* display: inline-block; */
  width: 20vw;
  height: 40vh;
  /* font-family: "Montserrat", sans-serif; */
  font-family: "Bebas Neue";
  color: #044e8b;
  background-color: black;
  font-size: 2rem;
  letter-spacing: 0.05rem;
  font-weight: bold;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  border-radius: 0.75rem;
  padding: 0.5%;
  text-align: center;
}

.greeting-text{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: fit-content;

  font-family: "Bebas Neue";
  color: #044e8b;
  background-color: white;
  font-size: 2rem;
  letter-spacing: 0.05rem;
  font-weight: bold;

  margin-bottom: 1rem;
}

.greeting-analytics {
  display: flex;
  width: 80%;
  height: 50%;
  margin: auto auto auto auto;
  font-family: "Montserrat", sans-serif;
  color: black;
  font-size: 1rem;
  text-align: left;
  background-color: white;

  border-radius: 0.75rem;
  padding: 0.5%;
  margin-top: 1rem;
}