.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30vw;
  height: 50vh;
  background-color: white;

  margin-top: 10vh;
  border-radius: 3vh;
}

.userEmailBox {
  display: flex;
  flex-direction: row;

  width: 100%;
  height: 20%;
}

.inputBox {
  width: 50%;
  height: 100%;
}

.password {
  width: 80%;
  height: 20%;
}

.idGradeBox {
  display: flex;
  flex-direction: row;

  width: 80%;
  height: 15%;
}
