/* css for profile */
.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;

    width: 100%;
    height: 10vh;

    text-align: left;
    padding: 2%;
    padding-left: 1%;
    padding-top: 3%;

    font-size: 4.5rem;
    color: #044e8b;

    position: flex;
}

.link {
    transform: translateY(-0.75rem);

    display: flex;
    flex-direction: column;
    margin-top: 0;

    justify-content: center;
    justify-items: center;
    text-align: center;

    text-decoration: none;
}

.navLogo {
    transform: translateY(-0.25rem);
    background: linear-gradient(currentColor, currentColor) bottom / 0 0.1em no-repeat;
    transition: 0.4s background-size;
    background-position-y: 90%;
}

.navLogo:hover {
    background-position-y: 90%;
    background-size: 100% 0.1em;
    cursor: pointer;
}

.navButton {
    width: 2.5rem;
    height: 3rem;

    display: flex;
    flex-direction: column;

    text-align: center;
    align-items: center;
    justify-content: center;

    border: none;
    font-size: 1rem;

    background: linear-gradient(currentColor, currentColor) bottom / 0 0.1em no-repeat;
    transition: 0.4s background-size;
}

.navButton:hover {
    margin-bottom: 0.2rem;
    background-size: 100% 0.1em;
    cursor: pointer;
}

.contentContainer {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.profileContainer {
    border-top: #044e8b solid 6px;
    display: flex;
    width: 80%;
    height: fit-content;

    background-color: white;
    flex-direction: row;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

.left {
    display: flex;
    width: fit-content;
    height: fit-content;
}

.right {
    display: flex;
    flex: 1;

    padding: 2rem;
    flex-direction: column;
    /* justify-content: space-between; */
}

.nameContainer {
    display: flex;
    width: 100%;
    height: fit-content;
    flex-direction: column;
}

.bigName {
    display: flex;
    font-size: 4.5rem;
    width: 100%;
    max-width: 100%;
    height: fit-content;
}

.schoolName {
    display: flex;
    font-size: 1.5rem;
    font-family: bebas-neue-pro, sans-serif;

    width: 100%;
    max-width: 100%;
    height: fit-content;
}

.contactInfoContainer {
    margin-top: 3rem;
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: space-between;
}

.contactInfo {
    display: flex;
    width: 45%;
    height: fit-content;
    color: #044e8b;
    font-size: 1.25rem;
}

.roleText {
    margin-top: auto;
    display: flex;
    width: 100%;
    font-size: 1.25rem;
    font-family: bebas-neue-pro, sans-serif;
    font-weight: bold;
}

.fieldChangeContainer {
    margin-top: 3rem;
    border-top: #044e8b solid 6px;
    display: flex;
    width: 80%;
    height: fit-content;

    background-color: white;
    flex-direction: column;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

.fieldChangeTitle {
    display: flex;
    width: 100%;
    height: fit-content;

    padding: .5rem;
    font-size: 2rem;
    text-align: left;
}

.infoContainer {
    width: 100%;
    height: fit-content;
    padding: 1rem;
    padding-top: 0rem;
}

.description {
    display: flex;
    width: 100%;
    font-size: 1.5rem;
}

.infoInput {
    display: flex;
    width: 100%;
    border: 3px #044e8b solid;

    padding: .9rem;
    /* background-color: #f1f1f1; */
    font-size: 1rem;
    font-family: bebas-neue-pro, sans-serif;
}

.infoRow {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
}

.descriptionContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.firstHalfDescription {
    display: flex;
    width: 45%;
    font-size: 1.5rem;
}

.lastHalfDescription {
    display: flex;
    width: 45%;
    font-size: 1.5rem;
}

.splitInputContainer {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.splitInput {
    display: flex;
    width: 45%;
    border: 3px #044e8b solid;
    font-family: bebas-neue-pro, sans-serif;

    padding: .9rem;
    /* background-color: #f1f1f1; */

    font-size: 1rem;
    font-family: bebas-neue-pro, sans-serif;
}

.splitInput::placeholder {
    font-family: bebas-neue-pro, sans-serif;
}

.innerContainer {
    display: flex;
    flex-direction: row;
}

.innerLeft {
    display: flex;
    width: 30%;
    flex-shrink: 1;
    padding: 1rem;
}

.innerRight {
    display: flex;
    width: 70%;
    flex-direction: column;
    padding: 1rem;
}